{% load comments i18n %}
<form id="{{ node.id }}" class="hidden_element" action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% if next %}
    <div><input type="hidden" name="next" value="{{ next }}"/></div>
  {% endif %}


    {{ form.non_field_errors }}
    <div>
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    <div>
        {{ form.email.errors }}
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div>
        {{ form.comment.errors }}
        {{ form.comment.label_tag }}
        {{ form.comment }}
    </div>

    {{ form.object_pk }}
    {{ form.content_type }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    {% if node.id %}
        <input type="hidden" name="parent" id="parent_id" value="{{ node.id }}" />
    {% elif form.parent %}
        {{ form.parent }}
    {%  endif %}

  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}"/>
  </p>
</form>
